/CourierService.API/bin
/.vs/CourierService
/CourierService.API/obj
/CourierService.Application/bin
/CourierService.Application/obj
/CourierService.Domain/bin
/CourierService.Domain/obj
/.vs/ProjectEvaluation
