/* COLORS */
$primary-yellow: #f2c200;
$dark-black: #1f1f1f;
$light-gray: #f6f6f6;
$white: #ffffff;

/* PAGE */
.page {
  max-width: 1100px;
  margin: 32px auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

/* HEADER */
.app-header {
  height: 80px;
  background: $white;
  border-bottom: 4px solid $primary-yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 26px;
  font-weight: 700;
}

/* CARD */
.card {
  border-radius: 14px;
  padding: 24px;
  border-left: 6px solid $primary-yellow;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* SECTION TITLE */
.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* FORM */
.full {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

/* PACKAGE ROW */
.package-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 40px;
  gap: 12px;
  padding: 14px;
  margin-bottom: 14px;
  background: $light-gray;
  border-radius: 10px;
  align-items: center;
}

/* DELETE ICON */
.delete-btn {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;
  background-color: #fdecea;   // light red background
  color: #d32f2f;              // red icon

  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-btn mat-icon {
  font-size: 18px;
  line-height: 18px;
  height: auto;
  width: auto;
}

.delete-btn:hover {
  background-color: #d32f2f;
  color: #ffffff;
  transform: scale(1.05);
}


/* VEHICLE GRID */
.vehicle-grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.vehicle-grid > * {
  flex: 1 1 calc(33.333% - 16px);
}

/* BUTTONS */
.calculate-wrapper {
  display: flex;
  justify-content: center;
}

.calculate-btn {
  width: 240px;
  height: 48px;
  border-radius: 30px;
  font-weight: 600;
  background: $primary-yellow !important;
  color: $dark-black !important;
}

.actions button {
  font-weight: 500;
  border: 1px solid rgba(0,0,0,0.08);
  background: transparent;
  padding: 8px 12px;
  border-radius: 8px;
}

.validation-msg {
  color: #c62828; /* red-700 */
  margin-top: 8px;
  font-size: 0.9rem;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: $dark-black;
  color: $primary-yellow;
  padding: 12px;
}

td {
  padding: 12px;
}

tr:hover td {
  background: $light-gray;
}

input{
    padding-left: 10px;
}
::ng-deep {
     .courier-delete .mat-mdc-form-field-subscript-wrapper{
    display: none !important;
    } 
}

